/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-*
/cli/obus-cli
/cli/.deps/
/cli/*.o
/common/config.h
/common/config.h.in
/cli/Makefile
/cli/Makefile.in
/cli/stamp-*
/daemon/.libs/
/daemon/.deps/
/daemon/Makefile
/daemon/Makefile.in
/daemon/*.o
/daemon/*.la
/daemon/*_la-*
.#*
/common/stamp-*
